/* image taken from unsplash */
.jumbotron-image {
  background-image: url(./images/newYork2.jpg);
  background-position: right top 65%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

th {
  min-width: 150px;
}

.logo {
  width: 50px;
}
