/* image taken from unsplash */
.jumbotron-image {
  background-image: url(./images/newYork3.jpg);
  background-position: right top 70%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

th {
  padding-right: 50px;
}

.logo {
  width: 50px;
}
